@import "~modern-normalize/modern-normalize.css"; // css reset
@import "~@cds/core/global.min.css"; // clarity global styles
@import "~@cds/city/css/bundles/default.min.css"; // load base font
$red-primary: #f15b67;

body {
  margin: 0;
}

.section__wrap {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

a:hover {
  color: $red-primary !important;
}

.d__flex {
  display: flex;
}

.text__red {
  color: $red-primary;
}
