.header {
  padding: 1rem 0 0;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }

  &__nav__btn {
    display: none;
  }

  &__location {
    background-color: #f4f4f4;
    cursor: pointer;

    p {
      font-size: 10px;
    }

    img {
      width: 8px;
    }
  }

  &__search {
    
    display: flex;
    flex: 1 1;
    max-width: 28rem;
    padding: 8px 3rem 8px 2rem;
    border-radius: 30px;
    margin: 0 15px;
    background: #f4f4f4;
    align-items: center;

    img {
      width: 15px;
      margin-right: 10px;
    }

    input {
      border: none;
      outline: none;
      font-size: 14px;
      background-color: inherit;
      width: 100%;
      overflow: visible;
    }
  }

  &__authen {
    a,
    a:hover {
      transition: 0.3s ease;
      font-size: 14px;
      font-weight: 500;
    }

    a:hover {
      color: #f15b67;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      margin-right: 5px;
    }
  }

  .list__menu {
    transition: .3s ease;
    background: #fff;
    width: 100%;
    max-width: 100%;
    padding: 10px;

    ul {
      display: flex;
      max-width: 1170px;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }

    a:hover {
      color: #f15b67;
    }

    a {
      position: relative;
    }
    a:before {
      position: absolute;
      bottom: -5px;
      height: 2px;
      background: #f15b67;
      width: 100%;
      content: "";
      opacity: 0;
      transition: 0.3s ease;
    }
    a:hover:before {
      opacity: 1;
    }
  }

  .active {
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 0 1px 3px 0 #00001a0d;
    -webkit-animation: slideDown 0.5s linear forwards;
    animation: slideDown 0.5s linear forwards;
    z-index: 100;
    @keyframes slideDown {
      0% {
        top: -15%;
      }
      100% {
        top: 0;
      }
    }
  }
}
